<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <div class="container mt-4">
    <img src="/hello_there.jpg" style="display: block; margin-left: auto; margin-right: auto; width: 75%; height: 300px;" />
  </div>
</body>
</html>
